install
cdrom
lang en_US.UTF-8
keyboard us
unsupported_hardware
network --bootproto=dhcp
firewall --disabled
authconfig --enableshadow --passalgo=sha512
selinux --permissive
timezone UTC
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
autopart
auth  --useshadow  --enablemd5
firstboot --disabled
reboot
rootpw ubuntu
user --name=centos --groups=centos --password=ubuntu

%packages --ignoremissing --excludedocs
@Base
@Core
@Development Tools
-@Graphical Internet
openssl-devel
readline-devel
zlib-devel
kernel-devel
wget
curl
%end

%post
yum install -y epel-release
yum update -y
yum install -y httping iftop iperf3 ivpsadm net-tools nmap-ncat ntp sysstat tcpdump telnet tmux tree vim wireshark yum-plugin-fastestmirror yum-utils zsh

sudo systemctl enable ntpd

# sudo
echo "centos ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers

# ssh key
mkdir /home/centos/.ssh
cat <<EOF >> /home/centos/.ssh/authorized_keys
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC1ekF027Nr93D7i/qbqS1ab4040emu1BdZMoeuPnFlDB27B5o2khP/z4xB6Pva7ICkWmrxk+z2Ag3yE7AkJNhxqHSGrWnM8yKTqZgUnrt2s2nQZ63XDHjGHWQ9Z3DTeAXexHCVBdUxROS6mTX090l0WD/iRMsQy+Z+vdCU7m2zSXOto0VS/+OuE20nYMCuHLaBtDSj7wQWPqa/4FfafG3k8M0PyTz120do99+mk9hxSF1rN2S7pZ7qYMQvQimZTqvlp7FV6H1attMZ9azUfdptHulHLBSE4EN5YTvjQbT4OHkyoCcAaWXaTT4NVG5mvvXIQNkClm9emwzfxHyQ1VNnfyeypZH145VUKc/vnA8HNHb+Xf83ojP1iyMvW4QyWYl/bh2zr8g04w+OKtuBhowLSVRyHz3Ntn1km8LH9X5wnB5I/MeEDDS5hCV9qxxK3qXVBlIzorY1/FWkn70O+cVIUEFFBpG1pX6pEA6YA2BGRyacbDmSHZJUxL33LNS4ISk= robin@NUC12DCMi9
EOF

chmod 0700 -R /home/centos/.ssh
chown centos:centos -R /home/centos/.ssh
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end
